@model Database.Models.Holding

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Html.DisplayNameFor(model => model.HoldingId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="Edit">
												@Html.HiddenFor(model => model.HoldingId)
																<div class="field">
						<label asp-for="ContactId"></label>
						<select asp-for="ContactId" class ="form-control" asp-items="ViewBag.ContactId"></select>
					</div>
																<div class="field">
						<label asp-for="Address"></label>
						<input asp-for="Address"/>
						<span asp-validation-for="Address" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="Comment"></label>
						<input asp-for="Comment"/>
						<span asp-validation-for="Comment" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="GridReference"></label>
						<input asp-for="GridReference"/>
						<span asp-validation-for="GridReference" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="HoldingNumber"></label>
						<input asp-for="HoldingNumber"/>
						<span asp-validation-for="HoldingNumber" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="Postcode"></label>
						<input asp-for="Postcode"/>
						<span asp-validation-for="Postcode" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="RegisterForCows"></label>
						<input asp-for="RegisterForCows"/>
						<span asp-validation-for="RegisterForCows" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="RegisterForFish"></label>
						<input asp-for="RegisterForFish"/>
						<span asp-validation-for="RegisterForFish" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="RegisterForPigs"></label>
						<input asp-for="RegisterForPigs"/>
						<span asp-validation-for="RegisterForPigs" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="RegisterForPoultry"></label>
						<input asp-for="RegisterForPoultry"/>
						<span asp-validation-for="RegisterForPoultry" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="RegisterForSheepGoats"></label>
						<input asp-for="RegisterForSheepGoats"/>
						<span asp-validation-for="RegisterForSheepGoats" class="ui red text"></span>
					</div>
																@Html.HiddenFor(model => model.Timestamp)
																@Html.HiddenFor(model => model.VersionNumber)
							            <div class="field">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
