@model IList<Database.Models.Critter>

@foreach (var item in Model)
{
    <div class="row pb-2">
        <div class="col">
            <div>
                <table class="card">
                    <tbody>
                        <tr>
                            <td>
                                <img class="vert-card-img-responsive" src="/CritterEx/Image?critterId=@item.CritterId&cacheVersion=@item.VersionNumber&width=348&height=464" />
                            </td>
                            <td class="pl-4">
                                <h5 class="card-title"><span class="badge badge-secondary">[@item.TagNumber]</span> @item.Name</h5>
                                <h6 class="card-subtitle text-muted">
                                    @(item.Gender == "M" ? "Male"
                                                         : item.Gender == "F" ? "Female"
                                                                              : item.Gender)
                                    @item.CritterType.Name - @item.Breed.Description
                                </h6>

                                <partial name="_CritterIcons" model="item"/>

                                <div class="pt-5">
                                    <hr />
                                    <partial name="_CritterLinks" model="item" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}