@model IList<Database.Models.Critter>

@foreach (var item in Model)
{
<div class="col-md-4 pb-2">
    <div class="card">
        <img class="card-img-top" src="/CritterEx/Image?critterId=@item.CritterId&cacheVersion=@item.VersionNumber" />
        <div class="card-body">
            <div class="clearfix">
                <div class="float-right">
                    <partial name="_CritterIcons" model="item" />
                </div>
                <h5 class="card-title">@item.Name</h5>
            </div>

            <h6 class="card-subtitle text-muted">
                @(item.Gender == "M" ? "Male"
                                     : item.Gender == "F" ? "Female"
                                                          : item.Gender)
                @item.CritterType.Name - @item.Breed.Description
            </h6>

            <hr />

            <partial name="_CritterLinks" model="item" />
        </div>
    </div>
</div>
}