@model IList<Database.Models.Critter>

@foreach (var item in Model)
{
    <div class="one column row bottom one padded">
        <div class="column">
            <div class="ui fluid horizontal card" >
                <img class="lazy image" data-src="/CritterEx/Image?critterId=@item.CritterId&cacheVersion=@item.VersionNumber&width=348&height=464"/>

                <div class="content">
                    <div class="header">
                        @item.Name
                    </div>
                    <div class="meta">
                        @(item.Gender == "M" ? "Male"
                                             : item.Gender == "F" ? "Female"
                                                                  : item.Gender)
                        @item.CritterType.Name - @item.Breed.Description
                    </div>

                    <partial name="_CritterIcons" model="item" />

                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="ui inverted divider"></div>
                    <div class="extra content">
                        <partial name="_CritterLinks" model="item" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}