@model Database.Models.Critter

@if (Model.Gender == "M")
{
    <img src="~/images/icons/male.png" width="26" height="26" title="Male" />
}
else if (Model.Gender == "F")
{
    <img src="~/images/icons/female.png" width="26" height="26" title="Female" />
}
else
{
    <img src="~/images/icons/default.png" width="26" height="26" title="Unknown Gender" />
}

@if (Model.CanReproduce)
{
    <img src="~/images/icons/heart.jpg" width="26" height="26" title="Can reproduce" />
}
else
{
    <img src="~/images/icons/heart_broke.png" width="26" height="26" title="Can't reproduce" />
}

<div class="ui label">[@Model.TagNumber]</div>