@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--Description box-->
<div class="field">
    <label>Description</label>
    <input type="text" name="EventDescription"/>
    <span class="ui small grey helper text">A general description of the event</span>
</div>

<!--Hidden input to set the event type-->
<input type="hidden" name="EventTypeName" class="data-type-input" />