@model Website.Models.CritterExCreateViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create new critter</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <img id="image" src="/CritterEx/Image?critterId=@(Model?.Critter.CritterId ?? -1)" width="459" height="459" />
            <div class="pt-2 form-group">
                <input class="form-control-file" asp-for="File" type="file" accept="image/*" onchange="previewFile(event)" />
            </div>
            <div class="form-group">
                <label asp-for="Critter.Name" class="control-label"></label>
                <input asp-for="Critter.Name" class="form-control" />
                <span asp-validation-for="Critter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.CritterTypeId" class="control-label"></label>
                <select id="selectCritterType" asp-for="Critter.CritterTypeId" class="form-control" asp-items="ViewBag.CritterTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.BreedId" class="control-label"></label>
                <select id="selectBreed" asp-for="Critter.BreedId" class="form-control" asp-items="ViewBag.BreedId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.Gender" class="control-label"></label>
                <input asp-for="Critter.Gender" class="form-control" />
                <span asp-validation-for="Critter.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.DadCritterId" class="control-label"></label>
                <select asp-for="Critter.DadCritterId" class="form-control" asp-items="ViewBag.DadCritterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.MumCritterId" class="control-label"></label>
                <select asp-for="Critter.MumCritterId" class="form-control" asp-items="ViewBag.MumCritterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.OwnerContactId" class="control-label"></label>
                <select asp-for="Critter.OwnerContactId" class="form-control" asp-items="ViewBag.OwnerContactId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Critter.Comment" class="control-label"></label>
                <input asp-for="Critter.Comment" class="form-control" />
                <span asp-validation-for="Critter.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.DadFurther" class="control-label"></label>
                <input asp-for="Critter.DadFurther" class="form-control" />
                <span asp-validation-for="Critter.DadFurther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Critter.MumFurther" class="control-label"></label>
                <input asp-for="Critter.MumFurther" class="form-control" />
                <span asp-validation-for="Critter.MumFurther" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Critter.CritterId" value="@(Model?.Critter.CritterId ?? 0)" />
            <input type="hidden" asp-for="Critter.Timestamp" value="AAAAAAAAH0U=" />
            <input type="hidden" asp-for="Critter.VersionNumber" value="@(Model?.Critter.VersionNumber ?? 1)" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
@section Scripts {
    <environment exclude="Development">
        <script src="~/js/breed_dropdown_ajax.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/breed_dropdown_ajax.js"></script>
    </environment>

    <script>
        handleBreedDropdown(document.getElementById("selectCritterType"), document.getElementById("selectBreed"), -1);

        function previewFile(event) {
            var output = document.getElementById('image');
            output.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}