@model Database.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>@Html.DisplayNameFor(model => model.ContactId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

																<div class="form-group">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="Address" class="control-label"></label>
						<input asp-for="Address" class="form-control" />
						<span asp-validation-for="Address" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="Comment" class="control-label"></label>
						<input asp-for="Comment" class="form-control" />
						<span asp-validation-for="Comment" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="EmailAddress" class="control-label"></label>
						<input asp-for="EmailAddress" class="form-control" />
						<span asp-validation-for="EmailAddress" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="IsCustomer" class="control-label"></label>
						<input asp-for="IsCustomer" class="form-control" />
						<span asp-validation-for="IsCustomer" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="IsSupplier" class="control-label"></label>
						<input asp-for="IsSupplier" class="form-control" />
						<span asp-validation-for="IsSupplier" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="PhoneNumber1" class="control-label"></label>
						<input asp-for="PhoneNumber1" class="form-control" />
						<span asp-validation-for="PhoneNumber1" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="PhoneNumber2" class="control-label"></label>
						<input asp-for="PhoneNumber2" class="form-control" />
						<span asp-validation-for="PhoneNumber2" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="PhoneNumber3" class="control-label"></label>
						<input asp-for="PhoneNumber3" class="form-control" />
						<span asp-validation-for="PhoneNumber3" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="PhoneNumber4" class="control-label"></label>
						<input asp-for="PhoneNumber4" class="form-control" />
						<span asp-validation-for="PhoneNumber4" class="text-danger"></span>
					</div>
															            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
