@model Database.Models.CritterLifeEvent

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Html.DisplayNameFor(model => model.CritterLifeEventId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

												@Html.HiddenFor(model => model.CritterLifeEventId)
																<div class="form-group">
						<label asp-for="Description" class="control-label"></label>
						<input asp-for="Description" class="form-control" />
						<span asp-validation-for="Description" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="Comment" class="control-label"></label>
						<input asp-for="Comment" class="form-control" />
						<span asp-validation-for="Comment" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="CritterId" class="control-label"></label>
						<input asp-for="CritterId" class="form-control" />
						<span asp-validation-for="CritterId" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="DateTime" class="control-label"></label>
						<input asp-for="DateTime" class="form-control" />
						<span asp-validation-for="DateTime" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="EnumCritterLifeEventTypeId" class="control-label"></label>
						<input asp-for="EnumCritterLifeEventTypeId" class="form-control" />
						<span asp-validation-for="EnumCritterLifeEventTypeId" class="text-danger"></span>
					</div>
																@Html.HiddenFor(model => model.Timestamp)
																@Html.HiddenFor(model => model.VersionNumber)
							            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
