@model Website.Models.LifeEventEditDateTime

@{
    ViewData["Title"] = "EditDateTime";
}

<h2>EditDateTime</h2>

<div class="col-md-4">
    <form class="ui form" asp-action="EditDateTime">
        @Html.HiddenFor(m => m.Common.Id)

        <div class="field">
            <label asp-for="Common.Description"></label>
            <input asp-for="Common.Description"/>
            <small class="form-text text-muted">General description of this event.</small>
            <span asp-validation-for="Common.Description" class="ui red text"></span>
        </div>

        <label asp-for="DateTime"></label>
        <div class="form-inline">
            <div class="input-group">
                <input id="datetimeDateTime" type="text" asp-for="DateTime" class="form-control datetimepicker-input" data-target="#datetimeDateTime" />
                <div class="input-group-append" data-target="#datetimeDateTime" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <small class="form-text text-muted">When did this event occur?</small>

            <span asp-validation-for="DateTime" class="ui red text"></span>
        </div>

        <for-roles action="Hide" roles="@RoleEnum.Student">
            <div class="field">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
        </for-roles>

        <div asp-validation-summary="All" class="ui red text"></div>
    </form>
</div>

@section Scripts {
    @if(User.IsStudent())
    {
        <partial name="_DisableControlsJs" />
    }
}