@model Database.Models.Location

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>@Html.DisplayNameFor(model => model.LocationId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="Create">
																<div class="field">
						<label asp-for="Name" class="control-label"></label>
						<input asp-for="Name"/>
						<span asp-validation-for="Name" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="EnumLocationTypeId" class="control-label"></label>
						<select asp-for="EnumLocationTypeId" class ="form-control" asp-items="ViewBag.EnumLocationTypeId"></select>
					</div>
																<div class="field">
						<label asp-for="HoldingId" class="control-label"></label>
						<select asp-for="HoldingId" class ="form-control" asp-items="ViewBag.HoldingId"></select>
					</div>
																<div class="field">
						<label asp-for="ParentId" class="control-label"></label>
						<select asp-for="ParentId" class ="form-control" asp-items="ViewBag.ParentId"></select>
					</div>
																<div class="field">
						<label asp-for="Comment" class="control-label"></label>
						<input asp-for="Comment"/>
						<span asp-validation-for="Comment" class="ui red text"></span>
					</div>
															            <div class="field">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
