@model Database.Models.MenuHeader

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>@Html.DisplayNameFor(model => model.MenuHeaderId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="Create">
																<div class="field">
						<label asp-for="Name"></label>
						<input asp-for="Name"/>
						<span asp-validation-for="Name" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="MenuHeaderParentId"></label>
						<select asp-for="MenuHeaderParentId" class ="form-control" asp-items="ViewBag.MenuHeaderParentId"></select>
					</div>
																<div class="field">
						<label asp-for="RoleId"></label>
						<select asp-for="RoleId" class ="form-control" asp-items="ViewBag.RoleId"></select>
					</div>
																<div class="field">
						<label asp-for="ApplicationCode"></label>
						<input asp-for="ApplicationCode"/>
						<span asp-validation-for="ApplicationCode" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="Comment"></label>
						<input asp-for="Comment"/>
						<span asp-validation-for="Comment" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="ImageUri"></label>
						<input asp-for="ImageUri"/>
						<span asp-validation-for="ImageUri" class="ui red text"></span>
					</div>
																				<div class="field">
						<label asp-for="Title"></label>
						<input asp-for="Title"/>
						<span asp-validation-for="Title" class="ui red text"></span>
					</div>
											            <div class="field">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
