@model Database.Models.CritterImageVariant

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Html.DisplayNameFor(model => model.CritterImageVariantId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="Edit">
												@Html.HiddenFor(model => model.CritterImageVariantId)
																<div class="field">
						<label asp-for="CritterImageModifiedId"></label>
						<select asp-for="CritterImageModifiedId" class ="form-control" asp-items="ViewBag.CritterImageModifiedId"></select>
					</div>
																<div class="field">
						<label asp-for="CritterImageOriginalId"></label>
						<select asp-for="CritterImageOriginalId" class ="form-control" asp-items="ViewBag.CritterImageOriginalId"></select>
					</div>
																<div class="field">
						<label asp-for="Height"></label>
						<input asp-for="Height"/>
						<span asp-validation-for="Height" class="ui red text"></span>
					</div>
																@Html.HiddenFor(model => model.Timestamp)
																<div class="field">
						<label asp-for="Width"></label>
						<input asp-for="Width"/>
						<span asp-validation-for="Width" class="ui red text"></span>
					</div>
							            <div class="field">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
