@model Database.Models.MenuItem

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>@Html.DisplayNameFor(model => model.MenuItemId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="Create">
																<div class="field">
						<label asp-for="Action"></label>
						<input asp-for="Action"/>
						<span asp-validation-for="Action" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="Comment"></label>
						<input asp-for="Comment"/>
						<span asp-validation-for="Comment" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="Controller"></label>
						<input asp-for="Controller"/>
						<span asp-validation-for="Controller" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="IconUri"></label>
						<input asp-for="IconUri"/>
						<span asp-validation-for="IconUri" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="RoleId"></label>
						<input asp-for="RoleId"/>
						<span asp-validation-for="RoleId" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="SequenceNumber"></label>
						<input asp-for="SequenceNumber"/>
						<span asp-validation-for="SequenceNumber" class="ui red text"></span>
					</div>
																				<div class="field">
						<label asp-for="Title"></label>
						<input asp-for="Title"/>
						<span asp-validation-for="Title" class="ui red text"></span>
					</div>
											            <div class="field">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
