@model Database.Models.MenuItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Html.DisplayNameFor(model => model.MenuItemId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
												@Html.HiddenFor(model => model.MenuItemId)
																<div class="form-group">
						<label asp-for="Action" class="control-label"></label>
						<input asp-for="Action" class="form-control" />
						<span asp-validation-for="Action" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="Comment" class="control-label"></label>
						<input asp-for="Comment" class="form-control" />
						<span asp-validation-for="Comment" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="Controller" class="control-label"></label>
						<input asp-for="Controller" class="form-control" />
						<span asp-validation-for="Controller" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="IconUri" class="control-label"></label>
						<input asp-for="IconUri" class="form-control" />
						<span asp-validation-for="IconUri" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="RoleId" class="control-label"></label>
						<input asp-for="RoleId" class="form-control" />
						<span asp-validation-for="RoleId" class="text-danger"></span>
					</div>
																<div class="form-group">
						<label asp-for="SequenceNumber" class="control-label"></label>
						<input asp-for="SequenceNumber" class="form-control" />
						<span asp-validation-for="SequenceNumber" class="text-danger"></span>
					</div>
																@Html.HiddenFor(model => model.Timestamp)
																<div class="form-group">
						<label asp-for="Title" class="control-label"></label>
						<input asp-for="Title" class="form-control" />
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
																@Html.HiddenFor(model => model.VersionNumber)
							            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
