@model Database.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>@Html.DisplayNameFor(model => model.ProductId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="Create">
																<div class="field">
						<label asp-for="Description"></label>
						<input asp-for="Description"/>
						<span asp-validation-for="Description" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="EnumProductTypeId"></label>
						<select asp-for="EnumProductTypeId" class ="form-control" asp-items="ViewBag.EnumProductTypeId"></select>
					</div>
																<div class="field">
						<label asp-for="Comment"></label>
						<input asp-for="Comment"/>
						<span asp-validation-for="Comment" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="DefaultVolume"></label>
						<input asp-for="DefaultVolume"/>
						<span asp-validation-for="DefaultVolume" class="ui red text"></span>
					</div>
																<div class="field">
						<label asp-for="RequiresRefridgeration"></label>
						<input asp-for="RequiresRefridgeration"/>
						<span asp-validation-for="RequiresRefridgeration" class="ui red text"></span>
					</div>
															            <div class="field">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
