@model Website.Models.UserEditViewModel
@{
    ViewData["Title"] = "UserEdit";
}

<h1>UserEdit</h1>

<form method="post" asp-controller="Admin" asp-action="UserEdit">
    @Html.HiddenFor(m => m.UserId)

    <h3>AlUserInfo</h3>
    <hr />
    <div class="form-group">
        <label asp-for="Info.FirstName"></label>
        <input asp-for="Info.FirstName" class="form-control" />
        <span asp-validation-for="Info.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Info.LastName"></label>
        <input asp-for="Info.LastName" class="form-control" />
        <span asp-validation-for="Info.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Info.EmailAddress"></label>
        <input asp-for="Info.EmailAddress" class="form-control" />
        <span asp-validation-for="Info.EmailAddress" class="text-danger"></span>
    </div>

    <h3>Role</h3>
    <hr />
    <div class="form-group">
        <label asp-for="Role.RoleId"></label>
        <select asp-for="Role.RoleId" class="form-control">
            @foreach (var role in (IList<Database.Models.Role>)ViewBag.Roles)
            {
                <option value="@(role.RoleId)">@role.Description</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Update User</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}