@if (User.Identity.IsAuthenticated && User.IsInRole("temp"))
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert-info alert alert-dismissible fade show" role="alert">
                <i class="fa fa-info-circle"></i>
                Additional information is required before your account is created, please
                <a asp-area="" asp-action="finalise" asp-controller="account">click here</a>.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}