<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--This doesn't really work on any email client-->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <main>
            @RenderBody()
        </main>
        <hr />
        <footer>
            <p class="text-muted">
                This is an automated message. Please do not reply, as it will not be seen by anyone, nor responded to.
            </p>

            <!--Tables are being used to replace rows, since bootstrap won't work in most email clients-->
            <table style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td>
                            <address class="col-md-6 text-muted">
                                <p><strong>Aim Educational Ltd</strong></p>
                                <p>
                                    <a href="https://www.google.com/maps/place/AIM+EDUCATIONAL+LTD/@@52.5780608,-1.604859,17z/data=!3m1!4b1!4m5!3m4!1s0x4870acc471fdec4b:0x317cbb4eb54f1a3b!8m2!3d52.5780608!4d-1.602665">
                                        12 Rotherhams Hill,
                                    </a>
                                </p>
                                <p>Baddesley Ensor,</p>
                                <p>Aetherstone,</p>
                                <p>Warwickshire,</p>
                                <p>CV2 2DR</p>
                            </address>
                        </td>

                        <td>
                            <section class="col-md-6 text-muted">
                                <p><strong>Contact Information:</strong></p>
                                <p>Andy Radford</p>
                                <p>T: 01827711289</p>
                                <p>
                                    E: <a href="mailto:andy@aimeducational.org.uk">andy@aimeducational.org.uk</a>
                                </p>
                                <p>
                                    W: <a href="http://www.aimeducational.org.uk">http://www.aimeducational.org.uk</a>
                                </p>
                            </section>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&copy; 2019 - Aim Educational Ltd</p>
        </footer>
    </div>
</body>
</html>
