@using Microsoft.AspNetCore.Http.Features
@using Microsoft.Extensions.DependencyInjection
@using Microsoft.Extensions.Configuration
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var canUseCookies = consentFeature.CanTrack;    
    var config = Context.RequestServices.GetRequiredService<IConfiguration>();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Livestock</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <partial name="_Navbar" />

    <main class="ui centered grid">
        @RenderBody()
    </main>
    <hr />
    <footer>
        <div class="ui centered grid">
            <a class="eight wide column" asp-action="Index" asp-controller="Changelog">
                [@(config.GetValue<string>("AIMDEPLOY:GIT_TAG", "Unknown version"))]
            </a>
            <p class="four wide column right aligned">&copy; 2019 - AimEducational</p>
        </div>
    </footer>

    <partial name="_CookieConsentPartial" />

    <!--START Extern scripts-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <!--END Extern Scripts-->
    <!--START Custom scripts-->
    <environment exclude="Development">
        <script src="~/js/sitewide.min.js" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/Sitewide/types_and_extern.js" asp-append-version="true"></script>
        <script src="~/js/Sitewide/multiselect.js" asp-append-version="true"></script>
    </environment>

    <script>
        function doLazyLoading() {
            $('.lazy').Lazy({
                scrollDirection: 'vertical',
                effect: 'fadeIn',
                effectTime: 500,
                visibleOnly: true,
                onError: function (element) {
                    console.log('error loading ' + element.data('src'));
                }
            });
        }

        // When the document loads, run the lazy load library.
        $(function () {
            doLazyLoading();
        });

        // Anytime we finish an ajax request, re-run the lazy load library.
        $(document).ajaxStop(function () {
            doLazyLoading();
        });

        // Ensure all cookies we use are secured, and that we can even track them.
        Cookies.defaults.secure = true;
        CAN_USE_COOKIES = @(canUseCookies ? "true" : "false");
    </script>
    <!--END Custom scripts-->

    @RenderSection("Scripts", required: false)
</body>
</html>
