@using Website.Other

<nav class="ui stackable top menu inverted">
    <!--Brand-->
    <a class="header item" href="/">Livestock</a>

    <!--Left-hand side-->
    <a class="left link item" asp-controller="Home" asp-action="Index">Home</a>

    <!--Right-hand side-->
    <!--Account stuff-->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="right text item">
            <div>
                <!--For some reason, this is needed so that there's a space between words.-->
                Welcome
                <a class="" asp-controller="Account" asp-action="Profile">
                    <strong>
                        @(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value ?? "NO NAME")
                    </strong>
                </a>
            </div>

            <img class="image" src="@User.FindFirstValue(LivestockClaims.ProfileImage)" width="40" height="40" />
        </div>

        <div class="item">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <button class="ui inverted orange button" type="submit">
                    Logout
                </button>
            </form>
        </div>
    }
    else
    {
        <div class="item">
            <form method="get" asp-controller="Account" asp-action="Login">
                <button class="ui inverted green button" type="submit">
                    Login
                </button>
            </form>
        </div>

        <div class="item">
            <form method="get" asp-controller="Account" asp-action="Signup">
                <button class="ui inverted orange button" type="submit">
                    Signup
                </button>
            </form>
        </div>
    }
</nav>