@using Website.Other

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--Toggler (only shown if not all of the navbar can fit on screen)-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseArea">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Brand-->
    <a class="navbar-brand" href="/">Livestock</a>

    <!--Content that can be put into the collapse area-->
    <div id="navbarCollapseArea" class="collapse navbar-collapse">
        
        <!--Left-hand side-->
        <ul class="navbar-nav list-unstyled">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            </li>
        </ul>

        <!--Right-hand side-->
        <ul class="navbar-nav ml-auto">

            <!--Account stuff-->
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <div class="navbar-text">Welcome</div>
                    <a class="navbar-text" asp-controller="Account" asp-action="Profile">
                        <strong>
                            @(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value ?? "NO NAME")
                        </strong>
                    </a>
                </li>

                <li class="nav-item">
                    <img src="@User.FindFirstValue(LivestockClaims.ProfileImage)" width="40" height="40" />
                </li>

                <li class="nav-item">
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn form-control btn-outline-warning">
                            Logout
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <form method="get" asp-controller="Account" asp-action="Login">
                        <button type="submit" class="btn form-control btn-outline-success">
                            Login
                        </button>
                    </form>
                </li>

                <li class="nav-item">
                    <form method="get" asp-controller="Account" asp-action="Signup">
                        <button type="submit" class="btn form-control btn-outline-primary">
                            Signup
                        </button>
                    </form>
                </li>
            }
        </ul>
    </div>
</nav>