@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="ui red text">Error.</h1>
<h2 class="ui red text">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>
    <div class="alert alert-danger">
        <strong>Additional Info:</strong> @(Model.AdditionalInfo ?? "No additional information was given.")
    </div>
</p>
