@model Website.Models.GroupIndexViewModel
@{
    ViewData["Title"] = "Index - Groups";
}

<h1>Index</h1>

<!--Creation buttons-->
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-info" asp-action="Create" asp-route-type="critter">Create Critter Group</a>
        <a class="btn btn-info" asp-action="Create" asp-route-type="user">Create User Group</a>
    </div>
</div>

<!--Existing groups-->
<div class="row">
    @foreach (var info in Model.Groups)
    {
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">@info.Group.Name</p>
                    <p class="card-subtitle">@info.Group.Description</p>
                    <p class="card-text text-muted">@info.GroupMemberCount members</p>
                </div>
            </div>
        </div>
    }
</div>