@model Website.Models.GroupIndexViewModel
@{
    ViewData["Title"] = "Index - Groups";
}

<h1>Index</h1>

<!--Creation buttons-->
<div class="row bottom one padded">
    <div class="column">
        <a class="ui primary button" asp-action="Create" asp-route-type="critter">Create Critter Group</a>
        <a class="ui primary button" asp-action="Create" asp-route-type="user">Create User Group</a>
    </div>
</div>

<!--Existing groups-->
<div class="row">
    @foreach (var info in Model.Groups)
    {
        var groupTypeString = (info.Group.GroupType == AdmuGroupEntityTypes.Critter)
                              ? "Critter"
                              : "User";

        <div class="column bottom one padded">
            <div class="ui fluid card">
                <div class="content">
                    <p class="header">@info.Group.Name</p>
                    <p class="meta">@info.Group.Description</p>
                    <p class="description">@info.GroupMemberCount members - @groupTypeString group</p>
                </div>
                <a asp-action="Edit" asp-route-id="@(info.Group.AdmuGroupId)">
                    <div class="ui bottom attached button">
                        Edit
                    </div>
                </a>
            </div>
        </div>
    }
</div>