@model string

@{
    var versionFixed = Model.Replace(".", "_");
}

<div class="row">
    <div class="column">
        <div class="ui card">
            <div class="content">
                @Model
            </div>

            <div class="extra content">
                <a asp-action="ShowLog" asp-route-version="@versionFixed">
                    Simple
                </a>

                <a asp-action="ShowLog" asp-route-version="@versionFixed" asp-route-technical="true">
                    Technical
                </a>
            </div>
        </div>
    </div>
</div>