@model bool 
@*True = Technical version. False = Simple version.*@
@{
    ViewData["Title"] = "Changelog - v0.7.0";
}

<h1>v0.7.0</h1>
<hr />

<h2>Features</h2>
<ul>
    <li>Added a changelog. This can be accessed by clicking on the website's version at the bottom left.</li>
    <li>Several dropdown boxes have been given a search function to make it easier to search through them.</li>
    <li>The group editor and creator has gotten a new interface for selecting the members of a group.</li>
</ul>

<h2>Design</h2>
<ul>
    <li>The website has undergone a minor change to its design.</li>
    @if(Model){ <li>Bootstrap was replaced with Semantic UI.</li> }
</ul>

@if(Model)
{
    <h2>Backend</h2>
    <ul>
        <li>
            Starting with this version, or shortly after this version, the newly made deployment tools
            will be in use.
        </li>
    </ul>
}