@model bool 
@*True = Technical version. False = Simple version.*@
@{
    ViewData["Title"] = "Changelog - v0.7.0";
}

<h1>v0.7.0</h1>
<hr />

<h2>Features</h2>
<ul>
    <li>Added a changelog. This can be accessed by clicking on the website's version at the bottom left.</li>
</ul>