@model Database.Models.CritterImage

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Html.DisplayNameFor(model => model.CritterImageId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="Edit">
												@Html.HiddenFor(model => model.CritterImageId)
																<div class="field">
						<label asp-for="Data"></label>
						<input asp-for="Data"/>
						<span asp-validation-for="Data" class="ui red text"></span>
					</div>
							            <div class="field">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
