@model string
@{
    ViewData["Title"] = "VerifyAccount";
    Layout = "_EmailLayout";
}

<h1>Please verify your account</h1>

<!--The model is the endpoint link-->
<p>
    To finish setting up your account, please click this link: @Model
</p>