/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*START: MENU CARDS*/
/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
    .menu-card {
        width: auto;
    }

    .menu-card image {
        width: 100%;
        height: 128px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
    .menu-card {
        width: auto;
    }

    .menu-card image {
        width: 100%;
        height: 128px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
    .menu-card {
        width: 8.5rem;
    }

    .menu-card image {
        width: 128px;
        height: 128px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
    .menu-card {
        width: 10rem;
    }

    .menu-card image {
        width: 128px;
        height: 128px;
    }

    .card-body {
        font-size: 1vw;
    }
}
/*END: MENU CARDS*/