/* This is used by the lazy loading library to identify what to lazy load. */
/* This is just here so it shows up in intelisense */
.lazy {
}

/* MAIN FONT*/
body {
    /* Line stolen from _reboot.scss */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* Resize-ability helpers */
.resize-horiz {
    resize: horizontal;
}

.resize-vert {
    resize: vertical;
}

.resize-both {
    resize: both;
}

/* Limit the height for images on the home page */
.home-card.image {
    height: 199px;
}

/* Padding helpers */
.bottom.one.padded {
    padding-bottom: 1em;
}