/* This is used by the lazy loading library to identify what to lazy load. */
/* This is just here so it shows up in intelisense */
.lazy {
}

/* Resize-ability helpers */
.resize-horiz {
    resize: horizontal;
}

.resize-vert {
    resize: vertical;
}

.resize-both {
    resize: both;
}

/* Limit the height for images on the home page */
.home-card.image {
    height: 199px;
}

/* Padding helpers */
html * [class*="bottom one padded"] {
    padding-bottom: 1em;
}