@model Database.Models.VehicleTrailerMap

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Html.DisplayNameFor(model => model.VehicleTrailerMapId)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="ui form"asp-action="Edit">
												@Html.HiddenFor(model => model.VehicleTrailerMapId)
																<div class="field">
						<label asp-for="TrailerId" class="control-label"></label>
						<select asp-for="TrailerId" class ="form-control" asp-items="ViewBag.TrailerId"></select>
					</div>
																<div class="field">
						<label asp-for="VehicleMainId" class="control-label"></label>
						<select asp-for="VehicleMainId" class ="form-control" asp-items="ViewBag.VehicleMainId"></select>
					</div>
																<div class="field">
						<label asp-for="Comment" class="control-label"></label>
						<input asp-for="Comment"/>
						<span asp-validation-for="Comment" class="ui red text"></span>
					</div>
																@Html.HiddenFor(model => model.Timestamp)
																@Html.HiddenFor(model => model.VersionNumber)
							            <div class="field">
                <input type="submit" value="Edit" class="btn btn-success" />
            </div>
			
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	}
