@{
    ViewData["Title"] = "AllActions";

    var names = (IEnumerable<string>)ViewData["Names"];
}

<h1>AllActions</h1>

<ul>
    @foreach(var name in names)
    {
        <li>
            <a asp-area="" asp-action="Index" asp-controller="@name.Replace("Controller", "")">
                @name
            </a>
        </li>
    }
</ul>
