@model IList<Database.Models.MenuItem>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model != null)
{
    <div class="row">
        @foreach (var item in Model.OrderBy(i => i.SequenceNumber).ThenBy(i => i.Title))
        {
            <div class="col-sm-8 col-md-6 col-lg-2 col-xl-2">
                <a asp-controller="@item.Controller" asp-action="@item.Action">
                    <div class="card menu-card text-center">
                        <img class="card-img-top border-bottom" src="@item.IconUri" alt="Critter">
                        <div class="card-body">
                            <p class="card-text">
                                @item.Title
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}
else if(User.IsInRole("temp"))
{
    <div class="alert alert-danger">
        You currently aren't set to a role. Yell at Andy to finish setting up your account.
    </div>
}
else if(!User.Identity.IsAuthenticated)
{
    <div class="alert alert-info">
        Please login before doing anything.
    </div>
}
else
{
    <div class="alert alert-danger">
        Unhandled corner case. Yell at Andy.
    </div>
}