@model IList<Database.Models.MenuItem>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model != null)
{
    <div class="ui fixed width grid">
        <div class="row">
            @foreach (var item in Model.OrderBy(i => i.SequenceNumber).ThenBy(i => i.Title))
            {
                <div class="sixteen wide mobile three wide computer column">
                    <a asp-controller="@item.Controller" asp-action="@item.Action">
                        <div class="ui card">
                            <img class="home-card image" src="@item.IconUri" alt="Critter">
                            <div class="content">
                                <p class="header center aligned">
                                    @item.Title
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
else if(User.IsInRole("temp"))
{
    <div class="ui warning message">
        You currently aren't set to a role. Yell at Andy to finish setting up your account.
    </div>
}
else if(!User.Identity.IsAuthenticated)
{
    <div class="ui info message">
        Please login before doing anything.
    </div>
}
else
{
    <div class="ui error message">
        Unhandled corner case. Yell at Andy.
    </div>
}