@model Database.Models.MenuHeader
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
<div class="row">
        @foreach (var item in Model.MenuItem.OrderBy(i => i.SequenceNumber).ThenBy(i => i.Title))
        {
            <div class="col-sm-8 col-md-6 col-lg-2 col-xl-2">
                <a asp-controller="@item.Controller" asp-action="@item.Action">
                    <div class="card menu-card text-center">
                        <img class="card-img-top" src="@item.IconUri" alt="Critter">
                        <div class="card-body">
                            <p class="card-text">
                                @item.Title
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
</div>
}