@{
    ViewData["Title"] = "VerifyEmail";
}

<h1>Index</h1>

<div class="alert alert-warning">
    A verification email has been sent, please click on the link inside it.
    <br />
    It's likely to have gone into your spam folder.
    <br />
    <br />
    If you need another verification email sent, try logging in again to trigger one to send.
</div>