@model Website.Models.AccountChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<div class="row">
    <div class="col-md-4">
        <form class="ui form" asp-action="ChangePassword" method="post">
            <div class="field">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword"/>
                <span asp-validation-for="OldPassword" class="ui red text"></span>
            </div>
            <div class="field">
                <label asp-for="Password"></label>
                <input asp-for="Password"/>
                <span asp-validation-for="Password" class="ui red text"></span>
            </div>
            <div class="field">
                <label asp-for="PasswordConfirm"></label>
                <input asp-for="PasswordConfirm"/>
                <span asp-validation-for="PasswordConfirm" class="ui red text"></span>
            </div>

            <button type="submit" class="ui primary button">Change password</button>
            <div asp-validation-summary="All" class="ui red text"></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}