
@{
    ViewData["Title"] = "Finalise";
}

<h1>Finalise</h1>

<h2>TODO: Add a form here to let the user enter certain pieces of info needed to finish their account</h2>

<strong>Click <a asp-area="" asp-controller="account" asp-action="TEMP_DebugFinalise">here</a> to temporarily bypass this check.</strong>