
@{
    ViewData["Title"] = "Account";
}

<h1>Account Management</h1>

<h2>TODO: Show the user data about their account, and add data to let them manipulate them.
    Also GDPR functions at some point (letting them download all the data associated with them, and also deleting the account.)
</h2>