@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-block btn-social btn-github" asp-area="" asp-controller="Account" asp-action="ChallengeGithub">
            <span class="fa fa-github"></span> Login with Github
        </a>
    </div>
</div>

<div class="pt-5" />

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary">
            Your account info, no matter which service you use to log in with, is primarily associated with your email address.
            <br />
            For example, if you log in using <strong>Facebook</strong> which uses <code>john@gmail.com</code>, but then you later log in with
            <strong>Twitter</strong> which uses <code>johnny@yahoo.com</code> you're essentially using two different accounts.
            <br />
            However, if your Twitter and Facebook use the same email address, then they both can be used to log into the same account on this site.
        </div>
    </div>
</div>