@model Website.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form class="ui form" method="post" asp-controller="Account" asp-action="Login">
    <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnUrl" />
    <div class="field">
        <label asp-for="Username"></label>
        <input asp-for="Username"/>
        <span asp-validation-for="Username" class="ui red text"></span>
    </div>
    <div class="field">
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password" class="ui red text"></span>
    </div>

    <div class="field">
        <a asp-controller="Account" asp-action="ResetPassForm">Forgotten your password?</a>
    </div>

    <button type="submit" class="ui primary button">Login</button>
    <div asp-validation-summary="All" class="ui red text"></div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}