
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div class="row">
    <div class="col-md-4">
        <a asp-action="ChangePassword">
            Change password
        </a>
    </div>
</div>